#tribute-info {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 75%;
  width: 60%;
  position: absolute;
  top: var(--base-size);
  z-index: 1;
  color: var(--dark-metal-black);
  font: 400 calc(var(--base-size) / 4 * 1.5)/1.5 'Roboto', sans-serif;
}

#tribute-info::before {
  content: '';
  height: var(--timeline-line, 0);
  position: absolute;
  top: 12.5%;
  border-right: calc(var(--base-size) / 20) dashed var(--pure-gold);
  animation: expand 1.75s ease-out;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  font: inherit;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--base-size) * 2);
  width: calc(var(--base-size) * 2);
  position: relative;
  color: inherit;
  font: 400 calc(var(--base-size) / 2)/1 'Roboto', sans-serif;
  text-align: center;
  background: var(--pure-gold);
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 0 0 calc(var(--base-size) / 5) var(--pure-gold);
  transition: color .75s ease-out,
              background-color .5s ease-out;
}

li a::before {
  content: '';
  width: 0;
  position: absolute;
  border-top: calc(var(--base-size) / 20) dashed var(--pure-gold);
  transition: width .5s ease-out;
}

li:first-child a::before,
li:nth-child(3) a::before { right: 100%; }

li:nth-child(2) a::before,
li:last-child a::before { left: 100%; }

li a::after {
  content: '';
  height: calc(var(--base-size) * 1.5);
  width: calc(var(--base-size) * 1.5);
  position: absolute;
  border: calc(var(--base-size) / 20) solid var(--dark-metal-black);
  border-radius: inherit;
  transition: border-color 1s ease-out;
}

li span {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  width: 0;
  position: absolute;
  color: var(--dark-metal-pewter);
  font: inherit;
  background: var(--dark-metal-black);
  opacity: 0;
  border-radius: calc(var(--base-size) / 10);
  box-shadow: 0 0 calc(var(--base-size) / 10) var(--pure-gold);
  transition: all .75s ease-out;
}

li:first-child span,
li:nth-child(3) span { right: calc(var(--base-size) * 1.5 + 50%); }

li:nth-child(2) span,
li:last-child span { left: calc(var(--base-size) * 1.5 + 50%); }

li a:focus,
li a:hover {
  color: var(--pure-gold);
  background: var(--dark-metal-black);
  outline: none;
}

li a:focus::before,
li a:hover::before { width: 25%; }

li a:focus::after,
li a:hover::after { border: calc(var(--base-size) / 20) solid var(--pure-gold); }

li a:focus ~ span,
li a:hover ~ span {
  padding: calc(var(--base-size) / 10);
  width: calc(50% - var(--base-size) * 1.5);
  opacity: 1;
}