#tribute-link {
  display: block;
  height: calc(var(--base-size) * 1.25);
  width: calc(var(--base-size) * 3.75);
  position: absolute;
  bottom: var(--base-size);
  z-index: 1;
  color: var(--pure-gold);
  font: 400 calc(var(--base-size) / 4 * 1.5)/1.5 'Roboto', sans-serif;
  text-decoration: none;
  animation: growing-up .5s ease-out;
  perspective: calc(var(--base-size) * 3.75);
} /* Base perspective point for the block */

#tribute-link > span {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  transform: translateZ(calc(var(--base-size) / 2 * -1.25));
  transform-style: preserve-3d;
} /* Block container */

#tribute-link > span span {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: var(--base-size);
  border: calc(var(--base-size) / 50) solid var(--golden-gold);
  box-shadow: 0 0 calc(var(--base-size) / 2) inset var(--transparent-gold);
  opacity: 0.5;
  transition: all .5s ease-out;
} /* Block faces */

#tribute-link > span span:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(var(--base-size) / 5);
  box-shadow: none;
  opacity: 1;
  transform: translateZ(calc(var(--base-size) / 2 * 1.25));
} /* Front face */

#tribute-link > span span:nth-child(2) {
  opacity: 0.25;
  transform: rotateY(180deg) translateZ(calc(var(--base-size) / 2 * 1.25));
} /* Back face */

#tribute-link > span span:nth-child(3) {
  width: calc(var(--base-size) * 1.25);
  border-top-left-radius: calc(var(--base-size) / 5);
  right: 0;
  border-bottom-left-radius: calc(var(--base-size) / 5);
  transform: rotateY(90deg) translateZ(calc(var(--base-size) / 2 * 1.25));
} /* Right face */

#tribute-link > span span:nth-child(4) {
  width: calc(var(--base-size) * 1.25);
  left: 0;
  border-top-right-radius: calc(var(--base-size) / 5);
  border-bottom-right-radius: calc(var(--base-size) / 5);
  transform: rotateY(-90deg) translateZ(calc(var(--base-size) / 2 * 1.25));
} /* Left face */

#tribute-link > span span:nth-child(5) {
  border-bottom-right-radius: calc(var(--base-size) / 5);
  border-bottom-left-radius: calc(var(--base-size) / 5);
  box-shadow: 0 0 var(--base-size) inset var(--transparent-gold);
  transform: rotateX(90deg) translateZ(calc(var(--base-size) / 2 * 1.25));
} /* Top face */

#tribute-link > span span:last-child {
  border-top-right-radius: calc(var(--base-size) / 5);
  border-top-left-radius: calc(var(--base-size) / 5);
  box-shadow: 0 0 var(--base-size) inset var(--transparent-gold);
  transform: rotateX(-90deg) translateZ(calc(var(--base-size) / 2 * 1.25));
} /* Bottom face */

#tribute-link:hover,
#tribute-link:focus { outline: none; }

#tribute-link:hover > span,
#tribute-link:focus > span { animation: shaking-block .5s ease-out; }

#tribute-link:hover > span span,
#tribute-link:focus > span span { opacity: 1; }

#tribute-link:hover > span span:nth-child(2),
#tribute-link:focus > span span:nth-child(2) {
  background-color: rgba(255, 215, 0, 0.1);
  opacity: 0.5;
}

#tribute-link:hover > span span:nth-child(3),
#tribute-link:focus > span span:nth-child(3) { background: linear-gradient(to right, var(--golden-shadow)) center; }

#tribute-link:hover > span span:nth-child(4),
#tribute-link:focus > span span:nth-child(4) { background: linear-gradient(to left, var(--golden-shadow)) center; }

#tribute-link:hover > span span:nth-child(5),
#tribute-link:focus > span span:nth-child(5) { background: linear-gradient(to top, var(--golden-shadow)) center; }

#tribute-link:hover > span span:last-child,
#tribute-link:focus > span span:last-child { background: linear-gradient(to bottom, var(--golden-shadow)) center; }