main > div {
  display: flex;
  justify-content: center;
  margin-top: var(--base-size);
  height: 75%;
  width: 60%;
  position: relative;
}

#title {
  position: absolute;
  bottom: 20%;
  z-index: 1;
  color: var(--pure-gold);
  font: 900 calc(var(--base-size) * 2)/1.5 'Cinzel Decorative', cursive;
  text-align: center;
  animation: dropping-down 1s ease-out;
}

#img-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: popping-out 1.25s ease-in;
}

picture { height: 85%; }

#image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

#img-caption {
  width: min(75vh, 100%);
  color: var(--dark-metal-pewter);
  font: 400 calc(var(--base-size) / 4 * 1.5)/1.5 'Roboto', sans-serif;
  text-align: center;
}

@supports (-webkit-background-clip: text) or (background-clip: text) {
  #title {
    color: transparent;
    background: linear-gradient(45deg, var(--golden-line), var(--golden-line), var(--golden-line));
    -webkit-background-clip: text;
    background-clip: text;
  }
}