* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

:root {
  --base-size: 5vh; /* Sizing */
  --dark-metal-black: #0B0909;
  --dark-metal-ebony: rgba(68, 68, 76, 0.05);
  --dark-metal-gray: rgba(140, 140, 140, 0.05);
  --dark-metal-pewter: #D6D6D6; /* Dark metal pallet for background base color and primary text color */
  --golden-tan: #B68D40;
  --golden-gold: #D6AD60;
  --golden-cream: #F4EBD0;
  --pure-gold: #FFD700;
  --transparent-gold: rgba(255, 215, 0, 0.5); /* Golden pallet for background layer color and highlight color */
  --radius: transparent, var(--dark-metal-gray), var(--dark-metal-ebony);
  --radial-background: radial-gradient(circle at center, var(--radius), var(--radius), var(--radius), var(--radius), var(--radius)) center;
  --background-line: calc(var(--base-size) / 20) solid var(--transparent-gold);
  --golden-line: var(--golden-tan), var(--golden-gold), var(--golden-cream);
  --golden-shadow: rgba(255, 215, 0, 0.25), rgba(255, 215, 0, 0.05); /* Background base pattern */
  --div-before-radius: 165deg;
  --div-after-radius: 150deg;
  --main-before-radius: 135deg;
  --main-after-radius: 120deg; /* Animation for the background layer */
}

html {
  height: stretch;
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: stretch;
  min-height: -webkit-fill-available;
  background: var(--dark-metal-black);
  overflow: hidden;
}

body > div {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

#main {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  user-select: none;
  animation: radar-background 5s 1.75s linear infinite alternate;
}

body > div::before,
body > div::after,
#main::before,
#main::after {
  content: '';
  height: 100%;
  width: 200%;
  position: absolute;
  top: 0;
  right: -50%;
  border-top: var(--background-line);
  border-bottom: var(--background-line);
  box-shadow: 0 0 calc(var(--base-size) * 2) var(--transparent-gold);
  opacity: 0.75;
}

body > div::before {
  --initial-radius: var(--initial-div-before-radius, 180deg);
  transform: rotate(var(--div-before-radius));
  animation: var(--rotate-div-before, rotate-layers 1.75s ease-out);
}

body > div::after {
  --initial-radius: var(--initial-div-after-radius, 180deg);
  transform: rotate(var(--div-after-radius));
  animation: var(--rotate-div-after, rotate-layers 1.5s ease-out);
}

#main::before {
  --initial-radius: var(--initial-main-before-radius, 180deg);
  transform: rotate(var(--main-before-radius));
  animation: var(--rotate-main-before, rotate-layers 1.25s ease-out);
}

#main::after {
  --initial-radius: var(--initial-main-after-radius, 180deg);
  transform: rotate(var(--main-after-radius));
  animation: var(--rotate-main-after, rotate-layers 1s ease-out);
}

main > div {
  display: flex;
  justify-content: center;
  margin-top: var(--base-size);
  height: 75%;
  width: 60%;
  position: relative;
}

#title {
  position: absolute;
  bottom: 20%;
  z-index: 1;
  color: var(--pure-gold);
  font: 900 calc(var(--base-size) * 2)/1.5 'Cinzel Decorative', cursive;
  text-align: center;
  animation: dropping-down 1s ease-out;
}

#img-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: popping-out 1.25s ease-in;
}

picture { height: 85%; }

#image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

#img-caption {
  width: min(75vh, 100%);
  color: var(--dark-metal-pewter);
  font: 400 calc(var(--base-size) / 4 * 1.5)/1.5 'Roboto', sans-serif;
  text-align: center;
}

#tribute-link {
  display: block;
  height: calc(var(--base-size) * 1.25);
  width: calc(var(--base-size) * 3.75);
  position: absolute;
  bottom: var(--base-size);
  z-index: 1;
  color: var(--pure-gold);
  font: 400 calc(var(--base-size) / 4 * 1.5)/1.5 'Roboto', sans-serif;
  text-decoration: none;
  animation: growing-up .5s ease-out;
  perspective: calc(var(--base-size) * 3.75);
} /* Base perspective point for the block */

.box {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  transform: translateZ(calc(var(--base-size) / 2 * -1.25));
  transform-style: preserve-3d;
} /* Block container */

.face {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: var(--base-size);
  border: calc(var(--base-size) / 50) solid var(--golden-gold);
  box-shadow: 0 0 calc(var(--base-size) / 2) inset var(--transparent-gold);
  opacity: 0.5;
  transition: all .5s ease-out;
} /* Block faces */

.face:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(var(--base-size) / 5);
  box-shadow: none;
  opacity: 1;
  transform: translateZ(calc(var(--base-size) / 2 * 1.25));
} /* Front face */

.face:nth-child(2) {
  opacity: 0.25;
  transform: rotateY(180deg) translateZ(calc(var(--base-size) / 2 * 1.25));
} /* Back face */

.face:nth-child(3) {
  width: calc(var(--base-size) * 1.25);
  border-top-left-radius: calc(var(--base-size) / 5);
  right: 0;
  border-bottom-left-radius: calc(var(--base-size) / 5);
  transform: rotateY(90deg) translateZ(calc(var(--base-size) / 2 * 1.25));
} /* Right face */

.face:nth-child(4) {
  width: calc(var(--base-size) * 1.25);
  left: 0;
  border-top-right-radius: calc(var(--base-size) / 5);
  border-bottom-right-radius: calc(var(--base-size) / 5);
  transform: rotateY(-90deg) translateZ(calc(var(--base-size) / 2 * 1.25));
} /* Left face */

.face:nth-child(5) {
  border-bottom-right-radius: calc(var(--base-size) / 5);
  border-bottom-left-radius: calc(var(--base-size) / 5);
  box-shadow: 0 0 var(--base-size) inset var(--transparent-gold);
  transform: rotateX(90deg) translateZ(calc(var(--base-size) / 2 * 1.25));
} /* Top face */

.face:last-child {
  border-top-right-radius: calc(var(--base-size) / 5);
  border-top-left-radius: calc(var(--base-size) / 5);
  box-shadow: 0 0 var(--base-size) inset var(--transparent-gold);
  transform: rotateX(-90deg) translateZ(calc(var(--base-size) / 2 * 1.25));
} /* Bottom face */

#tribute-info {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 75%;
  width: 60%;
  position: absolute;
  top: var(--base-size);
  z-index: 1;
  color: var(--dark-metal-black);
  font: 400 calc(var(--base-size) / 4 * 1.5)/1.5 'Roboto', sans-serif;
}

@supports (-webkit-background-clip: text) or (background-clip: text) {
  #title {
    color: transparent;
    background: linear-gradient(45deg, var(--golden-line), var(--golden-line), var(--golden-line));
    -webkit-background-clip: text;
    background-clip: text;
  }
}